.footer {
    background: #0056B3;
    color: #fff;
    font-family: "Montserrat", serif !important;
    font-size: 14px;
  }
  
  .footer h5 {
    font-size: 18px;
  }
  #hit{
    color: gold !important;
  }
  .footer .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: #f1f1f1;
    border-radius: 6px;
    color: #007bff;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  .footer .social-icon:hover {
    background: #007bff;
    color: #fff;
  }
  
  .footer ul {
    padding: 0;
  }
  
  .footer img{
    margin-top: -5%;
    margin-bottom: 4%;
  }
  .footer ul li {
    list-style: none;
    color: #fff;
    margin-bottom: 8px;
  }
  
  .footer ul li a:hover {
    color: #007bff;
  }
  
  .footer hr {
    margin-top: 30px;
    opacity: 0.2;
  }
  